.newsComp {
    color: #fff;
    width: 25vw;
    margin-left: 60px;
    margin-top: 40px;
    height: 50vh;
}

.textImg {
    position: relative;
}

.bigText {
    background: rgba(0, 0, 0, 0.74);
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: #fff;
    padding: 10px;
    /* border: none; */
    /* outline: none; */
}

.bigText h2 {
    color: #FFF;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 123.688%; /* 39.58px */
letter-spacing: 0.64px;
padding: 5px 0;
}

.bigText span {
    color: #FFF;
font-family: Roboto;
font-size: 18.249px;
font-style: normal;
font-weight: 600;
line-height: 141.688%; /* 25.857px */
letter-spacing: 0.365px;
}

.newsText {
    width: 100%;
    background: #fff;
    padding: 20px;
}

.newsText p {
    color: #272727;
    text-align: justify;
    font-family: Roboto;
    font-size: 15.25px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.688%; /* 29.508px */
}

.newsComp img {
    width: 350px;
    height: auto;
}