.timer-wrap {
    display: flex;
    background-color: #1E2343;
    width: 60vw;
    margin-left: 20px;
    justify-content: space-evenly;
    color: #fff;
    border-radius: 20px;
    margin-top: 10px;
    font-family: roboto;
}

.timer {
    
}

.value {
    display: inline;
}

.set-timer {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
}